
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.4;
}

/* Header y Footer */
header, footer {
    width: 100%;
    background-color: #009353;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    font-size: 3vw;
    margin: 0;
}

/* Layout Principal */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
}

/* Columnas */
.columna {
    width: 33.33%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.columna:hover {
    transform: translateY(-5px);
}

.columna img {
    width: 100%; /*  imágenes se ajusten columna */
}


/* Títulos */
h2 {
    font-size: 1.8rem;
    color: #028043;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.4rem;
    color: #27b671;
    margin-bottom: 15px;
}


/* Enlaces del menú */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a { /*decoracion para lista*/
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

ul li a:hover {
    background: #94d2bd;
    color: white;
}

/* Párrafos */
p {
    font-size: 1rem;
    line-height: 1.5;
}
img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border-radius: 8px; 
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 15px;
    font-size: 1rem;
}



